<div style="margin-top: 200px;"></div>

<p class="lead" style="text-align: center; font-weight: bold;">Укажите путь к своему профилю на petonik.com</p>

<form id="registerUserForm" action="#">

    <input type="text" class="form-control" id="petonikUrl" placeholder="http://petonik.com/chex/"
            style="
            width: 500px;
            margin-left: auto;
            margin-right: auto;">
    <br>
    <input type="submit" class="btn btn-success btn-lg" value="ОК" id="registerUserSubmitButton" style="
            display: block;
            width: 170px;
            height: 60px;
            margin-left: auto;
            margin-right: auto;">

</form>